.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
  }
  
  .success {
    background-color: #50c878;
    color: white;
  }
  
  .error {
    background-color: #ff6347;
    color: white;
  }
  
  .notification.show {
    transform: translateY(0);
  }