.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .list > * {
    flex: 1 1 20rem;
  }
  
  h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  