.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 1rem;
  }
  
  .header__brand h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .header__cart button {
    background-color: #181a18;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
  }
  
  .header__cartbadge {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }
  